html,
body {
  width: 100%;
  height: 100%;
}
body {
  position: relative;
}
/* .navbar{
    background-color: white;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.navbar .brand{
    display: inline-block;
}
.navbar .brand .title{
 
}
.navbar .brand .title .one{
    font-weight: bold;
}
.navbar .nav-item{
    float: right;
    display: inline-block;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    
}
.navbar .brand input{
    display: inline-block;
    padding-left: 10px;
    margin-left: 100px;
    padding-top: 2px;
    border-radius: 50px;
    border: 1px solid gray;
    height: 30px;
    text-align: left;
    width: 500px;
    font-size: 12px;
    background: url('../img/search.svg')right/contain no-repeat;
    
}


.navbar .brand .button1{
    margin-left: 200px;
    display: inline-block;
    border-radius: 30px;
    border-width: 0px;
    color: white;
    background-color:#DB3022 ;
    height: 30px;
    width: 80px;
}
.navbar .brand .button2{
    display: inline-block;
    border-radius: 30px;
    border-width: 0px;
    color: white;
    background-color:#DB3022 ;
    height: 30px;
    width: 80px;
} */

.heading {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 500px;
  font-family: "Times New Roman", Times, serif;
}

.heading .btn {
  font-size: 18px;
  padding: 10px 20px;
  font-weight: bold;
  background-color: black;
  border-radius: 30px;
  border-width: 0;
  color: ghostwhite;
}
.heading .btn:focus {
  cursor: pointer;
  background-color: darkslategray;
  color: floralwhite;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.container2 {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.container3 {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.container4 {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  height: 50px;
}
.container4 input {
  width: 500px;
}
.container5 {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  height: 50px;
}
.container5 input {
  width: 500px;
}
/* .title {
  text-align: center;
  font-weight: bold;
  padding-top: 15px;
  padding-left: 10px;
  font-size: 28px;
  color: #DB3022;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */

.btn {
  padding: 10px 10px;
  height: 20px;
  width: 100px;
  font-size: 15px;
  background-color: white;
  border-radius: 3px;
  border-width: 0px;
  border: 1px solid gray;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  color: gray;
}
.btn1 {
  padding: 10px 10px;
  height: 20px;
  width: 100px;
  font-size: 15px;
  background-color: #db3022;
  border-radius: 3px;
  border-width: 0px;
  border: 1px solid gray;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  color: white;
}
.btn:hover {
  cursor: pointer;
  background-color: #db3022;
  color: floralwhite;
}
.signin {
  background-color: #db3022;
  color: floralwhite;
  text-align: center;
  border-radius: 40px;
  border-width: 0px;
  width: 500px;
}
.message {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: grey;
}
.message:hover {
  color: black;
}

a {
  color: #db3022;
  text-decoration: none;
}
.summary{
    /* display: flex; */
    box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
    margin: 30px 10px 20px 100px;
    padding:10px 10px 10px 10px;
    width: 370px;
    height: 180px;
}

.checkbox {
  display: flex;
  box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
  margin: 30px 10px 20px 100px;
  padding:10px 10px 10px 10px;
  width: 720px;
  height: 64px;
}
.checkbox2{
    display: flex;
    box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
    margin: 5px 10px 10px 100px;
    padding:50px 10px 50px 10px;
    width: 720px;
    height: 126px;
  }

.coba{
    display: flex;
   
}
.coba1{
    display: flex;
    height: 64px;
    margin-bottom: 70px;
   
   
}

.title-wrapper{
    /* box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25); */
    font-size: 25px;
    font-weight: bold;
    margin: 60px 10px 10px 100px;
    padding:10px 10px 10px 10px;
    width: 700px;
    height: 10px;
}



.navbar {
  display: flex;
  padding: 0px 100px 50px;
  height: 100px;
  align-items: center;
  box-shadow: 0px 6px 40px rgb(173, 173, 173, 0.25);
}
.navbar .brand .img {
  width: 119px;
  height: 44px;
}

.navbar .search-wrapper input {
  width: 507px;
  height: 40px;
  border-radius: 23px;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 20px;
}

.navbar .search-wrapper input:focus {
  outline: none;
}
.navbar .search-wrapper .input-wrapper {
  display: inline-block;
  position: relative;
}
.navbar .search-wrapper .input-wrapper img {
  position: absolute;
  right: 30px;
  top: 30px;
  transform: translate(-50%);
}

.navbar .search-wrapper .filter {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  border: 1px solid grey;
  background-color: white;
}

.navbar .nav {
  flex: 1;
  display: flex;
  padding-left: 5%;
  padding-right: 0%;
}

.navbar .nav .img {
  display: flex;
  width: 25px;
  height: 25px;
  margin-left: 20%;
}

.homepage{
    display: flex;
    height: 64px;
    margin-top: 30px;
    border: 1px solid black;
}

.carousel{
    display: flex;
    height: 180px;
    width: 99%;
    margin-top: 49px;
    margin-bottom: 81px;
    margin-left: 0px;
    border: 1px solid black;
}
.carousel2{
    display: flex;
    height: 360px;
    width: 99%;
    margin-top: 30px;
    border: 1px solid black;
    background: #F0F1F9;
}
.item{
    display: flex;
    height: 900px;
    width: 99%;
    margin-top: 10px;
   
    background: rgb(255, 254, 254);
}

.item .bingkai{
    display: flex;
    height: 450px;
    width: 99%;
    margin: 30px 135px 0px 135px;
   
    background: #ffff;
}
.item .bingkai .status{
    height: 45px;
    width: 100%;
    margin: 0px 0px 0px 0px;

    background: #ffff;
}

.item .bingkai .list{
    display: flex;

    background: #ffff;
}
.item .bingkai .list img{
    width: 290px; height: 400px;
}